# Platform build configurations for Linaro EDK2 builds
# ====================================================
# The configuration file format is extremely simplistic:
# - Each platform has a short name.
# - A platform entry starts by the short name held in square brackets, '[]',
#   and ends with an end tag, '[/]'.
# - Within each entry, all options are described in a NAME=VALUE scheme,
#   with the name being whatever comes before the first '=' on the line,
#   and the value being everything that comes after it.
#
# Mandatory options:
# - LONGNAME		A more descriptive name of the platform.
# - DSC			Pointer to the EDK2 build description file. (The
#			pandaboard is excused, all other ports must have this.)
# - ARCH		String describing the architecture to build for.
#			Currently supported are AARCH32 and AARCH64.
#
# Optional options:
# - BUILDFLAGS		Any special flags you want to pass to the build command.
# - PREBUILD_CMDS	Any commands you want to execute before the build step.
# - POSTBUILD_CMDS	Any commands you want to execute after the build step.
#
# Special options:
# - BUILDCMD		Command to call instead of the normal build command.
#			Only for pandaboard, not to be used for new ports.
#

[juno]
LONGNAME=aarch64 Juno model
DSC=ArmPlatformPkg/ArmJunoPkg/ArmJuno.dsc
BUILDFLAGS=
ARCH=AARCH64
[/]

# ARM FVP BASE AEMv8-A model
[fvp_full]
LONGNAME=aarch64 FVP RTSM
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-FVP-AArch64.dsc
BUILDFLAGS=-D EDK2_OUT_DIR=Build/ArmVExpress-FVP-AArch64-Full -D EDK2_ENABLE_SMSC_91X=1
ARCH=AARCH64
[/]

[fvp]
LONGNAME=aarch64 FVP RTSM with minimal perhiperhal set
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-FVP-AArch64.dsc
BUILDFLAGS=-D ARM_FOUNDATION_FVP=1 -D EDK2_ENABLE_SMSC_91X=1
ARCH=AARCH64
BUILD_ATF=
UEFI_BIN=FVP_AARCH64_EFI.fd
UEFI_IMAGE_DIR=ArmVExpress-FVP-AArch64
[/]

[fvp_minimal]
LONGNAME=aarch64 FVP RTSM with minimal perhiperhal set (includes ethernet)
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-FVP-AArch64.dsc
BUILDFLAGS=-D ARM_FOUNDATION_FVP=1 -D EDK2_ENABLE_SMSC_91X=1 -D EDK2_OUT_DIR=Build/ArmVExpress-FVP-AArch64-Minimal
ARCH=AARCH64
[/]

[fvp_no_eth]
LONGNAME=aarch64 FVP RTSM with minimal perhiperhal set (no ethernet)
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-FVP-AArch64.dsc
BUILDFLAGS=-D ARM_FOUNDATION_FVP=1 -D EDK2_OUT_DIR=Build/ArmVExpress-FVP-AArch64-No-Eth
ARCH=AARCH64
[/]

[rtsm_aarch64]
LONGNAME=aarch64 RTSM
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-RTSM-AEMv8Ax4.dsc
BUILDFLAGS=
ARCH=AARCH64
[/]

[foundation]
LONGNAME=Foundation Model RTSM
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-RTSM-AEMv8Ax4-foundation.dsc
BUILDFLAGS=-D EDK2_ENABLE_SMSC_91X=1
PREBUILD_CMDS=pushd ArmPlatformPkg/ArmVExpressPkg/Scripts/uefi-aarch64-bootstrap/ ; CROSS_COMPILE=aarch64-linux-gnu- make uefi-bootstrap-el3-foundation.axf; popd
ARCH=AARCH64
[/]

[a5]
LONGNAME=Versatile Express A5
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-CTA5s.dsc
ARCH=ARM
[/]

[a9]
LONGNAME=Versatile Express A9
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1 -D EDK2_ARMVE_SINGLE_BINARY=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-CTA9x4.dsc
ARCH=ARM
[/]

[rtsm_a9x4]
LONGNAME=Versatile Express RTSM A9x4
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-RTSM-A9x4.dsc
ARCH=ARM
[/]

[rtsm_a15x1]
LONGNAME=Versatile Express RTSM A15 single core
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-RTSM-A15.dsc
ARCH=ARM
[/]

[rtsm_a15mpcore]
LONGNAME=Versatile Express RTSM A15 MPCore
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-RTSM-A15_MPCore.dsc
ARCH=ARM
[/]

[tc1]
LONGNAME=Versatile Express TC1
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-CTA15x2.dsc
ARCH=ARM
[/]

[tc2]
LONGNAME=Versatile Express TC2
BUILDFLAGS=-D ARM_BIGLITTLE_TC2=1
DSC=ArmPlatformPkg/ArmVExpressPkg/ArmVExpress-CTA15-A7.dsc
ARCH=ARM
[/]

[panda]
LONGNAME=TI Pandaboard
BUILDCMD=./PandaBoardPkg/build.sh
BUILDFLAGS=
ARCH=ARM
[/]

[arndale]
LONGNAME=Samsung Arndale
BUILDFLAGS=-D EXYNOS5250_EVT1 -D DDR3
DSC=SamsungPlatformPkg/ArndaleBoardPkg/arndale-Exynos5250.dsc
ARCH=ARM
[/]

[beagle]
LONGNAME=BeagleBoard
BUILDFLAGS=
DSC=BeagleBoardPkg/BeagleBoardPkg.dsc
ARCH=ARM
[/]

[d01]
LONGNAME=HiSilicon D01 Cortex-A15 16-cores
BUILDFLAGS=-D EDK2_ARMVE_STANDALONE=1
DSC=HisiPkg/D01BoardPkg/D01BoardPkg.dsc
ARCH=ARM
[/]
