#!/bin/bash

export UEFI_BASE_DIR=/linaro/uefi/master

# Local repos
export UEFI_NEXT_GIT=$UEFI_BASE_DIR/uefi-next.git
export UEFI_GIT=$UEFI_BASE_DIR/uefi.git

# Upstream repos
export UEFI_TIANOCORE_EDK2=$UEFI_BASE_DIR/upstream/edk2/
export UEFI_TIANOCORE_EDK2_FATDRIVER2=$UEFI_BASE_DIR/upstream/edk2-fatdriver2.git/
export UEFI_TIANOCORE_EDK2_BASETOOLS=$UEFI_BASE_DIR/upstream/buildtools-BaseTools/

# Upstream repo main branches
export UEFI_TIANOCORE_EDK2_MAIN_BRANCH=master
export UEFI_TIANOCORE_EDK2_FATDRIVER2_MAIN_BRANCH=master
export UEFI_TIANOCORE_EDK2_BASETOOLS_MAIN_BRANCH=trunk

export UEFI_NEXT_GIT_PUSH_REMOTE=uefi-next
export UEFI_INTERNAL_GIT_PUSH_REMOTE=uefi-internal
export UEFI_GIT_PUSH_REMOTE=upstream

# TODO - these should be extracted directly from the "origin" remotes in the repos
export UEFI_TIANOCORE_EDK2_URL=git://tianocore.git.sourceforge.net/gitroot/tianocore/edk2
export UEFI_TIANOCORE_EDK2_FATDRIVER2_URL=git://git.linaro.org/mirror/edk2/edk2-fatdriver2.git
export UEFI_TIANOCORE_EDK2_BASETOOLS_URL=git://tianocore.git.sourceforge.net/gitroot/tianocore/buildtools-BaseTools
export UEFI_NEXT_URL=git://git.linaro.org/arm/uefi/uefi-next.git
export UEFI_GIT_URL=git://git.linaro.org/arm/uefi/uefi.git
export UEFI_INTERNAL_GIT_URL=ssh://linaro-private.git.linaro.org/srv/linaro-private.git.linaro.org/uefi/uefi-internal.git
export UEFI_NEXT_PUSH_URL=ssh://git.linaro.org/srv/git.linaro.org/git/arm/uefi/uefi-next.git
export UEFI_GIT_PUSH_URL=ssh://ryanharkin@git.linaro.org/srv/git.linaro.org/git/arm/uefi/uefi.git
export UEFI_INTERNAL_GIT_PUSH_URL=ssh://git.linaro.org/srv/linaro-private.git.linaro.org/uefi/uefi-internal.git

export TMP_DIR=/tmp/uefi-next.`date +%s`

export UEFI_SAVE_PATCHES_DIR=$UEFI_BASE_DIR/saved-patches
